* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.button {
    margin: 10px;
}

.login__container {
    /* background-image:url("../profile/theater-1713816_1280.jpg"); */
    width: 35rem;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 3rem;
    margin-left: 10rem;


}

.all__input {
  
    border-style: solid;
    border-color: rgb(237, 105, 90);
    border-width: 5px;


}

.mail__login {
    min-height: 83vh;
    /* background-size: cover; */
    background-image: url("../register/fondomarmol.webp");
    background-image: url("../landing-page/descarga.png");
    min-width: 100%;
    display: flex;

}
.badge__{
    margin-left: 13.5rem;
}