.card__profile__container{
    background-image: url("../landing-page/descarga.png");
    background-color: rgb(17, 17, 17);
    /* margin-top: auto; */
    max-height: 85vh;
    min-width: 100vw;
    /* background-size: cover; */
}
.image_prof{
    display: flex;
    align-items: center;
}