*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.register__container{
    /* background-image:url("./backgroundregister.jpg"); */
    width: 35rem;
    /* border: solid; */
    border-width: 1px;
    /* border-color: lightslategray; */
    border-radius: 5px;
    padding: 10px; 
    margin-left: 10rem;
}
.all__input{
    margin: 20px;
    border-style:solid;
    border-width: 5px;
    border-color:rgb(237,105,90) ;

    
}
.main__reggister{
    margin-top: auto;
    min-height: 85vh;

    background-image: url("../landing-page/descarga.png");
    /* background-image: url("./fondo.png"); */
    /* background-image: url("./fondo.jpg"); */
}
