.card__list__container{
    background-image: url("./posters/original.jpg");
    /* background-color: rgb(17, 17, 17); */
    /* margin-top: auto;
    min-height: 100vh; */
    min-width: 100%;
    
    background-size: cover;
}
